* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg,
            #141e36 0%,
            #040b27 100%);
    margin: 0;
    background-size: cover;
    min-height: 100vh;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 40px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    gap: 40px;
    align-items: stretch;
    margin-top: 0;
    width: 100%;
}

/* Sidebar */

.sidebar {
    width: 270px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
}

.header-text {
    text-align: center;
    margin-bottom: -15px;
    transition: transform 0.3s ease;
}

.header img {
    width: 270px;
    height: 270px;
    border-radius: 45px;
}

.header h1 {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header p {
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
}

.header .univ {
    text-decoration: none;
    color: #bbbbbb;
}

.header .univ:hover {
    color: rgba(255, 255, 255, 0.8);
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact a {
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.contact a i {
    color: white;
    font-size: 30px;
    transition: transform 0.2s ease;
}

.contact a:hover i {
    transform: scale(1.15);
}

/* Layout */

.layout {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card {
    gap: 25px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.04);
}

.card h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Project */

.projects {
    color:white;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects .title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.projects .title i {
    font-size: 18px;
}

.projects h3 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.projects p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e3d6f6;
}

/* Skills */

.skills {
    color:white;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills .title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

.skills .title i {
    font-size: 18px;
}

.skills h3 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.skills p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e3d6f6;
}